docker/
.env
node_modules
/client/node_modules
/server/node_modules
.vscode
dockerfile.dev
dockerfile.prod
docker-compose.prod.yml
docker-compose2.yml
docker-compose-test.yml
/server/.nyc_output
/server/logs